[View in Colaboratory](https://colab.research.google.com/github/dthoma8/ratsinthecity/blob/master/Rats_in_the_City_Exploratory_Analysis_&_Choropleth_Map.ipynb)

# Rats in the City

##### Libraries
<a id = "libs"></a>

In [0]:
import os
import requests
import glob

import pandas as pd
import geopandas as gpd
import numpy as np
from math import pi

###### Get Data
---
NYC Open Data link

In [2]:
data_url = "https://nycopendata.socrata.com/api/views/3q43-55fe/rows.csv?accessType=DOWNLOAD"
def download_data(url, path="data", name="Rat_Sightings.csv"):
    
    if not os.path.exists(path):
        os.mkdir(path)
    
    response=requests.get(url)

    with open(os.path.join(path, name), "wb") as f:
        f.write(response.content)
        
download_data(url=data_url)
os.listdir("./data/")

['f4129d9aa6dd4281bc98d0f701629b76nyczipcodetabulationareas.geojson',
 'neighborhoods.htm',
 'Rat_Sightings.csv']

###### ratty data..

* read in data and take some first looks
<a id = "load_data"></a>

In [3]:
# read in rat sightings data
df = pd.read_csv("./data/Rat_Sightings.csv")
print(df.shape)
print(df.info())
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(115451, 38)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115451 entries, 0 to 115450
Data columns (total 38 columns):
Unique Key                        115451 non-null int64
Created Date                      115451 non-null object
Closed Date                       103862 non-null object
Agency                            115451 non-null object
Agency Name                       115451 non-null object
Complaint Type                    115451 non-null object
Descriptor                        115451 non-null object
Location Type                     115445 non-null object
Incident Zip                      115069 non-null float64
Incident Address                  105490 non-null object
Street Name                       105489 non-null object
Cross Street 1                    94646 non-null object
Cross Street 2                    94609 non-null object
Intersection Street 1             9782 non-null object
Intersection Street 2             9782 non-null object
Address Type                      115069 non-null object
City                              115063 non-null object
Landmark                          38 non-null object
Facility Type                     0 non-null float64
Status                            115451 non-null object
Due Date                          115333 non-null object
Resolution Action Updated Date    115448 non-null object
Community Board                   115451 non-null object
Borough                           115451 non-null object
X Coordinate (State Plane)        114645 non-null float64
Y Coordinate (State Plane)        114645 non-null float64
Park Facility Name                115451 non-null object
Park Borough                      115451 non-null object
Vehicle Type                      0 non-null float64
Taxi Company Borough              0 non-null float64
Taxi Pick Up Location             0 non-null float64
Bridge Highway Name               0 non-null float64
Bridge Highway Direction          0 non-null float64
Road Ramp                         0 non-null float64
Bridge Highway Segment            0 non-null float64
Latitude                          114645 non-null float64
Longitude                         114645 non-null float64
Location                          114645 non-null object
dtypes: float64(13), int64(1), object(24)
memory usage: 33.5+ MB
None

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,15633054,01/01/2010 11:20:45 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,1-2 Family Dwelling,11365.0,59-13 159 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.739983,-73.809299,"(40.73998332248969, -73.80929891501533)"
1,15633304,01/02/2010 12:50:36 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Commercial Building,10016.0,2 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.743161,-73.976983,"(40.74316088098852, -73.97698314758436)"
2,15633594,01/01/2010 03:05:37 PM,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11377.0,31-14 58 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.756987,-73.903618,"(40.756986581184535, -73.90361811283164)"
3,15633599,01/01/2010 08:52:19 PM,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Other (Explain Below),11201.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.688903,-73.980929,"(40.68890317557533, -73.98092864957985)"
4,15633605,01/01/2010 04:14:27 PM,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,10467.0,2504 BRONX PARK EAST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.863614,-73.870441,"(40.8636140600279, -73.87044117516707)"

##### Initial Data Processing

- We really want to make sure that we don't have any nulls in the zip code level as this is the backbone of our analysis. We will exclude any nulls that exist. 
- Additionally, there are only a few columns that are relevant to this analysis so we will proceed with those. 
<a id = "wrangling"></a>

In [4]:
# we want our data be viewed at the zip code level so thereforte
# we don't want any indices where the zip code is not provided
df = df[np.isfinite(df["Incident Zip"])]
# also, only a few columns are of importance
df = df[["Created Date", "Location Type", "Incident Zip", "Location"]]
df.head()

,Created Date,Location Type,Incident Zip,Location
0,01/01/2010 11:20:45 AM,1-2 Family Dwelling,11365.0,"(40.73998332248969, -73.80929891501533)"
1,01/02/2010 12:50:36 AM,Commercial Building,10016.0,"(40.74316088098852, -73.97698314758436)"
2,01/01/2010 03:05:37 PM,3+ Family Apt. Building,11377.0,"(40.756986581184535, -73.90361811283164)"
3,01/01/2010 08:52:19 PM,Other (Explain Below),11201.0,"(40.68890317557533, -73.98092864957985)"
4,01/01/2010 04:14:27 PM,3+ Family Apt. Building,10467.0,"(40.8636140600279, -73.87044117516707)"

In [5]:
df["Incident Zip"] = df["Incident Zip"].astype('str', copy=False)
# whenever I convert the column directly into integers, there
# appears to be a lost of values where their original values
# are modified or deleted. So by converting it string it should
# keep the values as is. Then I am going to run a str.split() fun
# to remove the decimals and reassign it back to the column

def remove_dec(row):
    
    return str(row).split(".")[0]

#remove decimals
df["Incident Zip"] = df["Incident Zip"].map(remove_dec)
df["Incident Zip"].head()

0    11365
1    10016
2    11377
3    11201
4    10467
Name: Incident Zip, dtype: object

In [6]:
#rename the col
df.rename(columns = {"Incident Zip":"postalCode"}, inplace=True)
# all the  columns in this dataset are string
for col in df.columns:
    if col != "postalCode":
        df[col] = df[col].astype("str", copy=False)
    else:
        df["postalCode"] = df["postalCode"].astype("int64", copy=False)
        
df = df.sort_values("postalCode")
df.head()

,Created Date,Location Type,postalCode,Location
112023,08/14/2017 12:00:00 AM,Other (Explain Below),83,"(40.78401193763258, -73.96968924461568)"
51122,08/26/2014 12:00:00 AM,Other (Explain Below),83,"(40.78286341773367, -73.96535663892631)"
51698,09/15/2014 12:00:00 AM,Other (Explain Below),83,"(40.7794758468835, -73.97357287287964)"
94705,09/06/2016 12:00:00 AM,Other (Explain Below),83,"(40.779741551985495, -73.97133770013274)"
95323,09/16/2016 12:00:00 AM,Other (Explain Below),83,"(40.7974659648698, -73.95170030179558)"

###### Let's Bring in Neighborhoods

* I'd like to add in another level at which the data can be looked at. Currently, the data has borough and zip code. I'd like to bring in the neighborhood (and i'll just bring in the borough data from the incoming file as well). 
<a id = "web_parsing"></a>

In [7]:
# url 
url = "https://www.health.ny.gov/statistics/cancer/registry/appendix/neighborhoods.htm"

def download_data(url, path="data"):
    
    if not os.path.exists(path):
        os.mkdir(path)
    response = requests.get(url)
    name = os.path.basename(url)
    
    with open(os.path.join(path, name), "wb") as f:
        f.write(response.content)

# run the function to download the data 
download_data(url)

# read in the web page file
from bs4 import BeautifulSoup as bs

soup = bs(open("./data/neighborhoods.htm"), "html.parser")
soup

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!-- INCLUDE HEADER Version 1.05 7/26/2007 PAGE LAST MODIFIED Monday, 23-Feb-2015 12:15:40 EST -->
<html lang="en-us" xml:lang="en-us" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>NYC Neighborhood ZIP Code Definitions</title>
<meta content="Definitions of New York City Neighborhoods" name="description"/>
<meta content="neighborhood, Neighborhood, New York City, new york city,new york state, New York State" name="keywords"/>
<!-- THE FOLLOWING STYLE TAG IS FOR IMPORTING STYLE ONLY -->
<style type="text/css">
<!--
-->
</style>
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="IE=edge" http-equiv="x-ua-compatible"/>
<link href="/style/twenty16/main.css" media="screen" rel="stylesheet"/>
<link href="/style/twenty16/visualizations.css" media="screen" rel="stylesheet"/>
<link href="/style/twenty16/nys-global-nav.css" media="screen" rel="stylesheet"/>
<link href="/style/twenty16/nys-global-nav-fonts.css" media="screen" rel="stylesheet"/>
<link href="/style/twenty16/print.css" media="print" rel="stylesheet"/>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1038576-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body id="home">
<div id="banner">
<a href="#content" id="skipnav" tabindex="1">skip to main content</a>
<div id="bannercontainerone">
<div class="nygov-universal-container" data-iframe="true" data-updated="2014-11-07 08:30" id="nygov-universal-navigation">
<noscript>
<iframe frameborder="0" height="86px" scrolling="no" src="//static-assets.ny.gov/load_global_menu/ajax?iframe=true" style="border:none; overflow:hidden; width:100%; height:86px;" width="100%">
            Your browser does not support iFrames
        </iframe>
</noscript>
<script type="text/javascript">
        var _NY = {
            HOST: "static-assets.ny.gov",
            BASE_HOST: "www.ny.gov",
            hideSettings: false,
            hideSearch: true
        };
        (function (document, bundle, head) {
            head = document.getElementsByTagName('head')[0];
            bundle = document.createElement('script');
            bundle.type = 'text/javascript';
            bundle.async = true;
            bundle.src = "//static-assets.ny.gov/sites/all/widgets/universal-navigation/js/dist/global-nav-bundle.js";
            head.appendChild(bundle);
        }(document));
    </script>
</div><!-- Google Tag Manager -->
<noscript><iframe height="0" src="//www.googletagmanager.com/ns.html?id=GTM-T4FP6H" style="display:none;visibility:hidden" width="0"></iframe></noscript>
<script type="text/javascript">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0];var j=d.createElement(s);var dl=l!='dataLayer'?'&l='+l:'';j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;j.type='text/javascript';j.async=true;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-T4FP6H');</script>
<!-- End Google Tag Manager -->
</div>
<div aria-label="Primary" class="nys-global-header horizontal unstacked" role="navigaton">
<div class="nav-toggle">
<a href="#" id="nys-menu-control" role="button">Navigation menu</a>
</div>
<h1><a href="/"><span>Department of</span> <span>Health</span></a></h1>
<ul id="nys-global-nav">
<li><a href="#">Individuals/Families</a>
<ul>
<li><a href="/vital_records/">Birth, Death, Marriage &amp; Divorce Records</a></li>
<li><a href="/health_care/">Health Insurance Programs</a></li>
<li><a href="/health_care/consumer_information/">Consumer Health Care Information</a></li>
<li><a href="/community/">Community Health</a></li>
<li><a href="/prevention/">Healthy Lifestyles</a></li>
<li><a href="/environmental/">Health &amp; Safety in the Home, Workplace &amp; Outdoors</a></li>
<li><a href="/diseases/">Diseases &amp; Conditions</a></li>
<li><a href="/statistics/">Data &amp; Reports</a></li>
<li><a href="/healthaz/">Health Topics A to Z</a></li>
</ul>
</li>
<li><a href="#">Providers/Professionals</a>
<ul>
<li><a href="/professionals/narcotic/">Narcotic Enforcement</a></li>
<li><a href="/professionals/ems/">EMS</a></li>
<li><a href="/professionals/health_initiatives.htm">Health Initiatives</a></li>
<li><a href="/statistics/">Data &amp; Reports</a></li>
<li><a href="/diseases/">Diseases &amp; Conditions</a></li>
<li><a href="/professionals/patient_resources.htm">Patient Resources</a></li>
<li><a href="/professionals/reporting.htm">Disease Reporting</a></li>
<li><a href="/professionals/protocols_and_guidelines/">Clinical Guidelines, Standards &amp; Quality of Care</a></li>
<li><a href="/permits/">Permits, Licenses &amp; Certification</a></li>
<li><a href="/professionals/">All Health Care Professionals &amp; Patient Safety</a></li>
<li><a href="/healthaz/">Health Topics A to Z</a></li>
</ul>
</li>
<li><a href="#">Health Facilities</a>
<ul>
<li><a href="/facilities/adult_care/">Adult Care Facilities/Assisted Living</a></li>
<li><a href="/facilities/home_care/">Home Care &amp; Hospice</a></li>
<li><a href="/facilities/hospital/">Hospitals &amp; Clinics</a></li>
<li><a href="/facilities/nursing/">Nursing Homes</a></li>
<li><a href="/facilities/school_based_health_centers/">School Based Health Centers</a></li>
<li><a href="/facilities/">All Health Care Facilities</a></li>
<li><a href="/healthaz/">Health Topics A to Z</a></li>
</ul>
</li>
<li><a href="#">Search</a>
<ul>
<li>
<!-- <form id="site_search_form" method="get" action="http://search.nyhealth.gov/search" onsubmit="javascript:urchinTracker('/outgoing/search_engine');" role="search"> -->
<form action="https://search.health.ny.gov/search" id="site_search_form" method="get" onsubmit="javascript:urchinTracker('/outgoing/search_engine');" role="search">
<div>
<label for="search">Search:</label>
<input id="search" name="q" tabindex="101" type="text" value=""/>
<input alt="search" id="searchbutton" name="btnG" tabindex="102" title="search" type="submit" value="Search"/>
<input name="site" type="hidden" value="doh_collection"/>
<input name="client" type="hidden" value="default_frontend"/>
<input name="proxystylesheet" type="hidden" value="default_frontend"/>
<input name="output" type="hidden" value="xml_no_dtd"/>
</div>
</form>
</li>
</ul>
</li>
</ul>
</div><!-- End .nys-global-header -->
</div><!-- End #banner -->
<div id="torso">
<div id="main">
<div id="breadcrumbs">
<span id="bcYAH">You are Here: </span><span id="bcHomePageLink"><a href="/">Home Page</a>
<strong>&gt;</strong></span>
<a href="/statistics/cancer/registry/appendices.htm"> Appendices Menu</a>
<strong>&gt;</strong> <span id="bcPageTitle">ZIP Code Definitions of New York City Neighborhoods</span>
</div>
<div id="content" role="main">
<h1 id="pagetitle">ZIP Code Definitions of New York City Neighborhoods</h1>
<table summary=" ">
<tr>
<th abbr="Borough" id="header1">Borough</th>
<th abbr="Neighborhood" id="header2">Neighborhood</th>
<th abbr="ZIP Codes" id="header3">ZIP Codes</th>
</tr><tr>
<td headers="header1" rowspan="7">Bronx</td>
<td headers="header2"> Central Bronx</td>
<td headers="header3"> 10453, 10457, 10460</td>
</tr><tr>
<td headers="header2"> Bronx Park and Fordham</td>
<td headers="header3"> 10458, 10467, 10468</td>
</tr><tr>
<td headers="header2"> High Bridge and Morrisania</td>
<td headers="header3"> 10451, 10452, 10456</td>
</tr><tr>
<td headers="header2"> Hunts Point and Mott Haven</td>
<td headers="header3"> 10454, 10455, 10459, 10474</td>
</tr><tr>
<td headers="header2"> Kingsbridge and Riverdale</td>
<td headers="header3"> 10463, 10471</td>
</tr><tr>
<td headers="header2"> Northeast Bronx</td>
<td headers="header3"> 10466, 10469, 10470, 10475</td>
</tr><tr>
<td headers="header2"> Southeast Bronx</td>
<td headers="header3"> 10461, 10462,10464, 10465, 10472, 10473</td>
</tr><tr>
<td headers="header1" rowspan="11">Brooklyn</td>
<td headers="header2"> Central Brooklyn</td>
<td headers="header3"> 11212, 11213, 11216, 11233, 11238</td>
</tr><tr>
<td headers="header2"> Southwest Brooklyn</td>
<td headers="header3"> 11209, 11214, 11228</td>
</tr><tr>
<td headers="header2"> Borough Park</td>
<td headers="header3"> 11204, 11218, 11219, 11230</td>
</tr><tr>
<td headers="header2"> Canarsie and Flatlands</td>
<td headers="header3"> 11234, 11236, 11239</td>
</tr><tr>
<td headers="header2"> Southern Brooklyn</td>
<td headers="header3"> 11223, 11224, 11229, 11235</td>
</tr><tr>
<td headers="header2"> Northwest Brooklyn</td>
<td headers="header3"> 11201, 11205, 11215, 11217, 11231</td>
</tr><tr>
<td headers="header2"> Flatbush</td>
<td headers="header3"> 11203, 11210, 11225, 11226</td>
</tr><tr>
<td headers="header2"> East New York and New Lots</td>
<td headers="header3"> 11207, 11208</td>
</tr><tr>
<td headers="header2"> Greenpoint</td>
<td headers="header3"> 11211, 11222</td>
</tr><tr>
<td headers="header2"> Sunset Park</td>
<td headers="header3"> 11220, 11232</td>
</tr><tr>
<td headers="header2"> Bushwick and Williamsburg</td>
<td headers="header3"> 11206, 11221, 11237</td>
</tr><tr>
<td headers="header1" rowspan="10">Manhattan</td>
<td headers="header2"> Central Harlem</td>
<td headers="header3"> 10026, 10027, 10030, 10037, 10039</td>
</tr><tr>
<td headers="header2"> Chelsea and Clinton</td>
<td headers="header3"> 10001, 10011, 10018, 10019, 10020, 10036</td>
</tr><tr>
<td headers="header2"> East Harlem</td>
<td headers="header3"> 10029, 10035</td>
</tr><tr>
<td headers="header2"> Gramercy Park and Murray Hill</td>
<td headers="header3"> 10010, 10016, 10017, 10022</td>
</tr><tr>
<td headers="header2"> Greenwich Village and Soho</td>
<td headers="header3"> 10012, 10013, 10014</td>
</tr><tr>
<td headers="header2"> Lower Manhattan</td>
<td headers="header3"> 10004, 10005, 10006, 10007, 10038, 10280</td>
</tr><tr>
<td headers="header2"> Lower East Side</td>
<td headers="header3"> 10002, 10003, 10009</td>
</tr><tr>
<td headers="header2"> Upper East Side</td>
<td headers="header3"> 10021, 10028, 10044, 10065, 10075, 10128</td>
</tr><tr>
<td headers="header2"> Upper West Side</td>
<td headers="header3"> 10023, 10024, 10025</td>
</tr><tr>
<td headers="header2"> Inwood and Washington Heights</td>
<td headers="header3"> 10031, 10032, 10033, 10034, 10040</td>
</tr><tr>
<td headers="header1" rowspan="10">Queens</td>
<td headers="header2"> Northeast Queens</td>
<td headers="header3"> 11361, 11362, 11363, 11364</td>
</tr><tr>
<td headers="header2"> North Queens</td>
<td headers="header3"> 11354, 11355, 11356, 11357, 11358, 11359, 11360</td>
</tr><tr>
<td headers="header2"> Central Queens</td>
<td headers="header3"> 11365, 11366, 11367</td>
</tr><tr>
<td headers="header2"> Jamaica</td>
<td headers="header3"> 11412, 11423, 11432, 11433, 11434, 11435, 11436</td>
</tr><tr>
<td headers="header2"> Northwest Queens</td>
<td headers="header3"> 11101, 11102, 11103, 11104, 11105, 11106</td>
</tr><tr>
<td headers="header2"> West Central Queens</td>
<td headers="header3"> 11374, 11375, 11379, 11385</td>
</tr><tr>
<td headers="header2"> Rockaways</td>
<td headers="header3"> 11691, 11692, 11693, 11694, 11695, 11697</td>
</tr><tr>
<td headers="header2"> Southeast Queens</td>
<td headers="header3"> 11004, 11005, 11411, 11413, 11422, 11426, 11427, 11428, 11429</td>
</tr><tr>
<td headers="header2"> Southwest Queens</td>
<td headers="header3"> 11414, 11415, 11416, 11417, 11418, 11419, 11420, 11421</td>
</tr><tr>
<td headers="header2"> West Queens</td>
<td headers="header3"> 11368, 11369, 11370, 11372, 11373, 11377, 11378</td>
</tr><tr>
<td headers="header1" rowspan="4">Staten Island</td>
<td headers="header2"> Port Richmond</td>
<td headers="header3"> 10302, 10303, 10310</td>
</tr><tr>
<td headers="header2"> South Shore</td>
<td headers="header3"> 10306, 10307, 10308, 10309, 10312</td>
</tr><tr>
<td headers="header2"> Stapleton and St. George</td>
<td headers="header3"> 10301, 10304, 10305</td>
</tr><tr>
<td headers="header2"> Mid-Island</td>
<td headers="header3"> 10314</td>
</tr>
</table>
<p><cite>Source: United Hospital Fund</cite></p>
</div> <!-- End #content -->
</div> <!-- End #main -->
</div> <!-- End #torso -->
<div id="footer">
<div id="footer_container">
<div id="email">Questions or comments: <a href="mailto:nyscr@health.state.ny.us">nyscr@health.state.ny.us</a></div>
<div id="reviseddate">Revised: March 2006</div>
</div><!-- End #footer_container -->
<div class="nys-global-footer">
<div class="footer-container">
<h3>Department of Health</h3>
<div class="footer-col">
<h4>About</h4>
<ul>
<li><a href="/commissioner/">Howard Zucker, M.D., Commissioner</a></li>
<li><a href="/contact/">Contact</a></li>
<li><a href="/employment/">Employment Opportunities</a></li>
<li><a href="/funding/">Grants &amp; Funding Opportunities</a></li>
<li><a href="/regulations/">Laws &amp; Regulations</a></li>
<li><a href="/press/">Press Releases, Reports &amp; Publications</a></li>
<li><a href="/publications/4208/">Publications and Educational Material</a></li>
<li><a href="/regulations/foil/">Freedom of Information Law (FOIL)</a></li>
<li><a href="/forms/">Forms</a></li>
<li><a href="/related/">Related Sites</a></li>
<li><a href="/healthaz/">Health Topics A to Z</a></li>
<li><a href="/es/">A to Z en Español</a></li>
</ul>
</div>
<div class="footer-col">
<h4>Events</h4>
<ul>
<li><a href="/events/meetings/">Meetings, Hearings and Special Events</a></li>
<li><a href="/events/webcasts/">Webcasts</a></li>
<li><a href="/events/">Other Events</a></li>
</ul>
</div>
<div class="footer-col">
<h4>Current Issues</h4>
<ul>
<li><a href="http://www.nysmokefree.com/">1-866-NY-QUITS - NYS Smokers' Quit Line</a></li>
<li><a href="/community/opioid_epidemic/">Addressing the Opioid Epidemic in New York State</a></li>
<li><a href="https://donatelife.ny.gov">Donate Life - Sign Up Today!</a></li>
<li><a href="/environmental/investigations/drinkingwaterresponse/">Drinking Water Response Activities</a></li>
<li><a href="/diseases/aids/ending_the_epidemic/">Ending the Epidemic</a></li>
<li><a href="/professionals/narcotic/synthetic_cannabinoids/">Learn About the Dangers of "Synthetic Marijuana"</a></li>
<li><a href="/health_care/medicaid/redesign/">Medicaid Redesign</a></li>
<li><a href="/regulations/medical_marijuana/">Medical Marijuana Program</a></li>
<li><a href="https://www.ny.gov/programs/new-york-state-breast-cancer-programs">New York State Breast Cancer Programs</a></li>
<li><a href="/health_care/medicaid/program/update/notices.htm">Notice to Medicaid Recipients</a></li>
<li><a href="/regulations/regulated_marijuana/">Regulated Marijuana</a></li>
</ul>
</div>
<div class="footer-col">
<h4>Help</h4>
<ul>
<li><a href="/help/text_size.htm">Help Increasing the Text Size in Your Web Browser</a></li>
<li><a href="/help/file_types.htm">File Formats Used on this Web Site</a></li>
<li><a href="/about/disclaim.htm">Disclaimer</a></li>
<li><a href="/about/privacy.htm">Privacy Policy</a></li>
<li><a href="/contact/accessibility.htm">Accessibility</a></li>
</ul>
</div>
<div class="footer-col">
<h4>Language Assistance</h4>
<ul>
<li><a href="/contact/translate.htm#english">English</a></li>
<li><a href="/contact/translate.htm#spanish">Español (Spanish)</a></li>
<li><a href="/contact/translate.htm#chinese">中文 (Chinese)</a></li>
<li><a href="/contact/translate.htm#russian">Русский (Russian)</a></li>
<li><a href="/contact/translate.htm#italian">Italiano (Italian)</a></li>
<li><a href="/contact/translate.htm#haitian-creole">Kreyòl Ayisyen (Haitian-Creole) </a></li>
<li><a href="/contact/translate.htm#korean">한국어 (Korean)</a> </li> </ul>
</div>
<div class="social-media">
<div class="social-media-title">
<h4>CONNECT WITH US</h4>
</div>
<div class="social-media-links">
<ul>
<li>
<a href="http://www.facebook.com/NYSDOH">
<span class="icon-social-facebook"></span>
<span>FACEBOOK</span>
</a>
</li>
<li>
<a href="http://twitter.com/healthnygov">
<span class="icon-social-twitter"></span>
<span>TWITTER</span>
</a>
</li>
<li>
<a href="http://www.youtube.com/user/NYSDOH">
<span class="icon-social-youtube"></span>
<span>YOUTUBE</span>
</a>
</li>
<li>
<a href="http://pinterest.com/nysdoh/">
<span class="icon-social-pinterest"></span>
<span>PINTEREST</span>
</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div> <!-- End #FOOTER -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
if (!window.jQuery) {
	document.write('<script src="/script/js/jquery/jquery-3.3.1.min.js"><\/script>');
}
//]]>
</script>
<script src="/script/js/jquery/jquery.metadata.js" type="text/javascript"></script>
<script src="/script/js/jquery/jquery.tablesorter.min.js" type="text/javascript"></script>
<script src="/script/js/jquery/jquery_v4.js" type="text/javascript"></script>
<script src="/script/js/jquery/analytics.js" type="text/javascript"></script>
<script src="/script/js/jquery/commonModules.js" type="text/javascript"></script>
<script src="/script/js/jquery/nys-global-nav-header.js" type="text/javascript"></script>
<script src="/script/js/jquery/jquery.blockUI.js" type="text/javascript"></script>
<!--[if lte IE 8]><script src="/script/js/jquery/respond.min.js"></script><![endif]-->
<script src="/script/js/d3/d3.min.js" type="text/javascript"></script>
<script src="/script/js/d3/d3.tip.v0.6.3.js" type="text/javascript"></script>
<script src="/script/js/d3/d3.legend.js" type="text/javascript"></script>
<noscript class="jstest"><div><img alt="" src="/images/noscript.png"/></div></noscript>
<div class="nygov-universal-container" id="nygov-universal-footer">
<noscript>
<iframe class="nygov-universal-container" data-updated="2014-11-07 08:30" frameborder="0" height="200px" id="nygov-universal-footer-frame" scrolling="no" src="//static-assets.ny.gov/load_global_footer/ajax?iframe=true" style="border:none; overflow:hidden; width:100%; height:200px;" width="100%">
            Your browser does not support iFrames
        </iframe>
</noscript>
</div>
</body>
</html>

###### We will need to select the table out of the page. 
<a id = "get_table"></a>

In [8]:
table = soup.find_all("table")[0]
table

<table summary=" ">
<tr>
<th abbr="Borough" id="header1">Borough</th>
<th abbr="Neighborhood" id="header2">Neighborhood</th>
<th abbr="ZIP Codes" id="header3">ZIP Codes</th>
</tr><tr>
<td headers="header1" rowspan="7">Bronx</td>
<td headers="header2"> Central Bronx</td>
<td headers="header3"> 10453, 10457, 10460</td>
</tr><tr>
<td headers="header2"> Bronx Park and Fordham</td>
<td headers="header3"> 10458, 10467, 10468</td>
</tr><tr>
<td headers="header2"> High Bridge and Morrisania</td>
<td headers="header3"> 10451, 10452, 10456</td>
</tr><tr>
<td headers="header2"> Hunts Point and Mott Haven</td>
<td headers="header3"> 10454, 10455, 10459, 10474</td>
</tr><tr>
<td headers="header2"> Kingsbridge and Riverdale</td>
<td headers="header3"> 10463, 10471</td>
</tr><tr>
<td headers="header2"> Northeast Bronx</td>
<td headers="header3"> 10466, 10469, 10470, 10475</td>
</tr><tr>
<td headers="header2"> Southeast Bronx</td>
<td headers="header3"> 10461, 10462,10464, 10465, 10472, 10473</td>
</tr><tr>
<td headers="header1" rowspan="11">Brooklyn</td>
<td headers="header2"> Central Brooklyn</td>
<td headers="header3"> 11212, 11213, 11216, 11233, 11238</td>
</tr><tr>
<td headers="header2"> Southwest Brooklyn</td>
<td headers="header3"> 11209, 11214, 11228</td>
</tr><tr>
<td headers="header2"> Borough Park</td>
<td headers="header3"> 11204, 11218, 11219, 11230</td>
</tr><tr>
<td headers="header2"> Canarsie and Flatlands</td>
<td headers="header3"> 11234, 11236, 11239</td>
</tr><tr>
<td headers="header2"> Southern Brooklyn</td>
<td headers="header3"> 11223, 11224, 11229, 11235</td>
</tr><tr>
<td headers="header2"> Northwest Brooklyn</td>
<td headers="header3"> 11201, 11205, 11215, 11217, 11231</td>
</tr><tr>
<td headers="header2"> Flatbush</td>
<td headers="header3"> 11203, 11210, 11225, 11226</td>
</tr><tr>
<td headers="header2"> East New York and New Lots</td>
<td headers="header3"> 11207, 11208</td>
</tr><tr>
<td headers="header2"> Greenpoint</td>
<td headers="header3"> 11211, 11222</td>
</tr><tr>
<td headers="header2"> Sunset Park</td>
<td headers="header3"> 11220, 11232</td>
</tr><tr>
<td headers="header2"> Bushwick and Williamsburg</td>
<td headers="header3"> 11206, 11221, 11237</td>
</tr><tr>
<td headers="header1" rowspan="10">Manhattan</td>
<td headers="header2"> Central Harlem</td>
<td headers="header3"> 10026, 10027, 10030, 10037, 10039</td>
</tr><tr>
<td headers="header2"> Chelsea and Clinton</td>
<td headers="header3"> 10001, 10011, 10018, 10019, 10020, 10036</td>
</tr><tr>
<td headers="header2"> East Harlem</td>
<td headers="header3"> 10029, 10035</td>
</tr><tr>
<td headers="header2"> Gramercy Park and Murray Hill</td>
<td headers="header3"> 10010, 10016, 10017, 10022</td>
</tr><tr>
<td headers="header2"> Greenwich Village and Soho</td>
<td headers="header3"> 10012, 10013, 10014</td>
</tr><tr>
<td headers="header2"> Lower Manhattan</td>
<td headers="header3"> 10004, 10005, 10006, 10007, 10038, 10280</td>
</tr><tr>
<td headers="header2"> Lower East Side</td>
<td headers="header3"> 10002, 10003, 10009</td>
</tr><tr>
<td headers="header2"> Upper East Side</td>
<td headers="header3"> 10021, 10028, 10044, 10065, 10075, 10128</td>
</tr><tr>
<td headers="header2"> Upper West Side</td>
<td headers="header3"> 10023, 10024, 10025</td>
</tr><tr>
<td headers="header2"> Inwood and Washington Heights</td>
<td headers="header3"> 10031, 10032, 10033, 10034, 10040</td>
</tr><tr>
<td headers="header1" rowspan="10">Queens</td>
<td headers="header2"> Northeast Queens</td>
<td headers="header3"> 11361, 11362, 11363, 11364</td>
</tr><tr>
<td headers="header2"> North Queens</td>
<td headers="header3"> 11354, 11355, 11356, 11357, 11358, 11359, 11360</td>
</tr><tr>
<td headers="header2"> Central Queens</td>
<td headers="header3"> 11365, 11366, 11367</td>
</tr><tr>
<td headers="header2"> Jamaica</td>
<td headers="header3"> 11412, 11423, 11432, 11433, 11434, 11435, 11436</td>
</tr><tr>
<td headers="header2"> Northwest Queens</td>
<td headers="header3"> 11101, 11102, 11103, 11104, 11105, 11106</td>
</tr><tr>
<td headers="header2"> West Central Queens</td>
<td headers="header3"> 11374, 11375, 11379, 11385</td>
</tr><tr>
<td headers="header2"> Rockaways</td>
<td headers="header3"> 11691, 11692, 11693, 11694, 11695, 11697</td>
</tr><tr>
<td headers="header2"> Southeast Queens</td>
<td headers="header3"> 11004, 11005, 11411, 11413, 11422, 11426, 11427, 11428, 11429</td>
</tr><tr>
<td headers="header2"> Southwest Queens</td>
<td headers="header3"> 11414, 11415, 11416, 11417, 11418, 11419, 11420, 11421</td>
</tr><tr>
<td headers="header2"> West Queens</td>
<td headers="header3"> 11368, 11369, 11370, 11372, 11373, 11377, 11378</td>
</tr><tr>
<td headers="header1" rowspan="4">Staten Island</td>
<td headers="header2"> Port Richmond</td>
<td headers="header3"> 10302, 10303, 10310</td>
</tr><tr>
<td headers="header2"> South Shore</td>
<td headers="header3"> 10306, 10307, 10308, 10309, 10312</td>
</tr><tr>
<td headers="header2"> Stapleton and St. George</td>
<td headers="header3"> 10301, 10304, 10305</td>
</tr><tr>
<td headers="header2"> Mid-Island</td>
<td headers="header3"> 10314</td>
</tr>
</table>

In [9]:
nyc_data = []
for i in table.find_all("td"):
    nyc_data.append(i.string)
    
nyc_data

['Bronx',
 ' Central Bronx',
 ' 10453, 10457, 10460',
 ' Bronx Park and Fordham',
 ' 10458, 10467, 10468',
 ' High Bridge and Morrisania',
 ' 10451, 10452, 10456',
 ' Hunts Point and Mott Haven',
 ' 10454, 10455, 10459, 10474',
 ' Kingsbridge and Riverdale',
 ' 10463, 10471',
 ' Northeast Bronx',
 ' 10466, 10469, 10470, 10475',
 ' Southeast Bronx',
 ' 10461, 10462,10464, 10465, 10472, 10473',
 'Brooklyn',
 ' Central Brooklyn',
 ' 11212, 11213, 11216, 11233, 11238',
 ' Southwest Brooklyn',
 ' 11209, 11214, 11228',
 ' Borough Park',
 ' 11204, 11218, 11219, 11230',
 ' Canarsie and Flatlands',
 ' 11234, 11236, 11239',
 ' Southern Brooklyn',
 ' 11223, 11224, 11229, 11235',
 ' Northwest Brooklyn',
 ' 11201, 11205, 11215, 11217, 11231',
 ' Flatbush',
 ' 11203, 11210, 11225, 11226',
 ' East New York and New Lots',
 ' 11207, 11208',
 ' Greenpoint',
 ' 11211, 11222',
 ' Sunset Park',
 ' 11220, 11232',
 ' Bushwick and Williamsburg',
 ' 11206, 11221, 11237',
 'Manhattan',
 ' Central Harlem',
 ' 10026, 10027, 10030, 10037, 10039',
 ' Chelsea and Clinton',
 ' 10001, 10011, 10018, 10019, 10020, 10036',
 ' East Harlem',
 ' 10029, 10035',
 ' Gramercy Park and Murray Hill',
 ' 10010, 10016, 10017, 10022',
 ' Greenwich Village and Soho',
 ' 10012, 10013, 10014',
 ' Lower Manhattan',
 ' 10004, 10005, 10006, 10007, 10038, 10280',
 ' Lower East Side',
 ' 10002, 10003, 10009',
 ' Upper East Side',
 ' 10021, 10028, 10044, 10065, 10075, 10128',
 ' Upper West Side',
 ' 10023, 10024, 10025',
 ' Inwood and Washington Heights',
 ' 10031, 10032, 10033, 10034, 10040',
 'Queens',
 ' Northeast Queens',
 ' 11361, 11362, 11363, 11364',
 ' North Queens',
 ' 11354, 11355, 11356, 11357, 11358, 11359, 11360',
 ' Central Queens',
 ' 11365, 11366, 11367',
 ' Jamaica',
 ' 11412, 11423, 11432, 11433, 11434, 11435, 11436',
 ' Northwest Queens',
 ' 11101, 11102, 11103, 11104, 11105, 11106',
 ' West Central Queens',
 ' 11374, 11375, 11379, 11385',
 ' Rockaways',
 ' 11691, 11692, 11693, 11694, 11695, 11697',
 ' Southeast Queens',
 ' 11004, 11005, 11411, 11413, 11422, 11426, 11427, 11428, 11429',
 ' Southwest Queens',
 ' 11414, 11415, 11416, 11417, 11418, 11419, 11420, 11421',
 ' West Queens',
 ' 11368, 11369, 11370, 11372, 11373, 11377, 11378',
 'Staten Island',
 ' Port Richmond',
 ' 10302, 10303, 10310',
 ' South Shore',
 ' 10306, 10307, 10308, 10309, 10312',
 ' Stapleton and St. George',
 ' 10301, 10304, 10305',
 ' Mid-Island',
 ' 10314']

###### Parse this into a dataframe
<a id = "df_parse"></a>

* I'm going to convert this into a dictionary that will eventually be converted into a dictionary.
    * First, i'm going to gather the Boroughs as the main keys of the eventual dicitionary.
    * I'm going to use the indices of the dictionary to partition the list of the data.
    * Then, once the data is partitioned, I will use the neighborhoods as the sub keys of the eventual dicitionary with the zip codes as the values.
   * Then i'll use the resulting dictionary to generate a dataframe.

In [10]:
boroughs = ["Bronx", "Brooklyn", "Manhattan", "Queens", "Staten Island"]

# indices to partition the data
idxs = []

#iterate through and capture the indices of each broough respectively
for borough in boroughs:
    idxs.append(nyc_data.index(borough))

# make sure that last index is captured to encapsulate all the data
idxs.append(len(nyc_data))
idxs

[0, 15, 38, 59, 80, 89]

In [11]:
# create function to 
def set_partitions (data, indices):
    """ Partition the data based on the input data list and the index 
    list. Return a list of partitioned data. 
    """
    data_partitions = []
    
    i = 1
    while i <= len(indices)-1:
        data_partitions.append(data[indices[i-1]+1:indices[i]])
        i = i + 1
        
    return data_partitions

prt_data = set_partitions(nyc_data, idxs)
prt_data

[[' Central Bronx',
  ' 10453, 10457, 10460',
  ' Bronx Park and Fordham',
  ' 10458, 10467, 10468',
  ' High Bridge and Morrisania',
  ' 10451, 10452, 10456',
  ' Hunts Point and Mott Haven',
  ' 10454, 10455, 10459, 10474',
  ' Kingsbridge and Riverdale',
  ' 10463, 10471',
  ' Northeast Bronx',
  ' 10466, 10469, 10470, 10475',
  ' Southeast Bronx',
  ' 10461, 10462,10464, 10465, 10472, 10473'],
 [' Central Brooklyn',
  ' 11212, 11213, 11216, 11233, 11238',
  ' Southwest Brooklyn',
  ' 11209, 11214, 11228',
  ' Borough Park',
  ' 11204, 11218, 11219, 11230',
  ' Canarsie and Flatlands',
  ' 11234, 11236, 11239',
  ' Southern Brooklyn',
  ' 11223, 11224, 11229, 11235',
  ' Northwest Brooklyn',
  ' 11201, 11205, 11215, 11217, 11231',
  ' Flatbush',
  ' 11203, 11210, 11225, 11226',
  ' East New York and New Lots',
  ' 11207, 11208',
  ' Greenpoint',
  ' 11211, 11222',
  ' Sunset Park',
  ' 11220, 11232',
  ' Bushwick and Williamsburg',
  ' 11206, 11221, 11237'],
 [' Central Harlem',
  ' 10026, 10027, 10030, 10037, 10039',
  ' Chelsea and Clinton',
  ' 10001, 10011, 10018, 10019, 10020, 10036',
  ' East Harlem',
  ' 10029, 10035',
  ' Gramercy Park and Murray Hill',
  ' 10010, 10016, 10017, 10022',
  ' Greenwich Village and Soho',
  ' 10012, 10013, 10014',
  ' Lower Manhattan',
  ' 10004, 10005, 10006, 10007, 10038, 10280',
  ' Lower East Side',
  ' 10002, 10003, 10009',
  ' Upper East Side',
  ' 10021, 10028, 10044, 10065, 10075, 10128',
  ' Upper West Side',
  ' 10023, 10024, 10025',
  ' Inwood and Washington Heights',
  ' 10031, 10032, 10033, 10034, 10040'],
 [' Northeast Queens',
  ' 11361, 11362, 11363, 11364',
  ' North Queens',
  ' 11354, 11355, 11356, 11357, 11358, 11359, 11360',
  ' Central Queens',
  ' 11365, 11366, 11367',
  ' Jamaica',
  ' 11412, 11423, 11432, 11433, 11434, 11435, 11436',
  ' Northwest Queens',
  ' 11101, 11102, 11103, 11104, 11105, 11106',
  ' West Central Queens',
  ' 11374, 11375, 11379, 11385',
  ' Rockaways',
  ' 11691, 11692, 11693, 11694, 11695, 11697',
  ' Southeast Queens',
  ' 11004, 11005, 11411, 11413, 11422, 11426, 11427, 11428, 11429',
  ' Southwest Queens',
  ' 11414, 11415, 11416, 11417, 11418, 11419, 11420, 11421',
  ' West Queens',
  ' 11368, 11369, 11370, 11372, 11373, 11377, 11378'],
 [' Port Richmond',
  ' 10302, 10303, 10310',
  ' South Shore',
  ' 10306, 10307, 10308, 10309, 10312',
  ' Stapleton and St. George',
  ' 10301, 10304, 10305',
  ' Mid-Island',
  ' 10314']]

In [12]:
def get_sub_keys(data_partition):
    
    """ Takes in the partitioned data list. Creates a dicitionary 
    relating the zip code values to their corresponding
    neighborhoods.
    """
    
    nyc_dicts = []
    
    for borough in data_partition:
        keys = borough[::2]
        values = borough[1::2]
        new_vals = []
        for val in values:
            new_vals.append(val.split(","))
        nyc_dicts.append(dict(zip(keys, new_vals)))
        
    return nyc_dicts

# return the dictionary
nyc_dict = get_sub_keys(prt_data)
nyc_dict

[{' Bronx Park and Fordham': [' 10458', ' 10467', ' 10468'],
  ' Central Bronx': [' 10453', ' 10457', ' 10460'],
  ' High Bridge and Morrisania': [' 10451', ' 10452', ' 10456'],
  ' Hunts Point and Mott Haven': [' 10454', ' 10455', ' 10459', ' 10474'],
  ' Kingsbridge and Riverdale': [' 10463', ' 10471'],
  ' Northeast Bronx': [' 10466', ' 10469', ' 10470', ' 10475'],
  ' Southeast Bronx': [' 10461',
   ' 10462',
   '10464',
   ' 10465',
   ' 10472',
   ' 10473']},
 {' Borough Park': [' 11204', ' 11218', ' 11219', ' 11230'],
  ' Bushwick and Williamsburg': [' 11206', ' 11221', ' 11237'],
  ' Canarsie and Flatlands': [' 11234', ' 11236', ' 11239'],
  ' Central Brooklyn': [' 11212', ' 11213', ' 11216', ' 11233', ' 11238'],
  ' East New York and New Lots': [' 11207', ' 11208'],
  ' Flatbush': [' 11203', ' 11210', ' 11225', ' 11226'],
  ' Greenpoint': [' 11211', ' 11222'],
  ' Northwest Brooklyn': [' 11201', ' 11205', ' 11215', ' 11217', ' 11231'],
  ' Southern Brooklyn': [' 11223', ' 11224', ' 11229', ' 11235'],
  ' Southwest Brooklyn': [' 11209', ' 11214', ' 11228'],
  ' Sunset Park': [' 11220', ' 11232']},
 {' Central Harlem': [' 10026', ' 10027', ' 10030', ' 10037', ' 10039'],
  ' Chelsea and Clinton': [' 10001',
   ' 10011',
   ' 10018',
   ' 10019',
   ' 10020',
   ' 10036'],
  ' East Harlem': [' 10029', ' 10035'],
  ' Gramercy Park and Murray Hill': [' 10010', ' 10016', ' 10017', ' 10022'],
  ' Greenwich Village and Soho': [' 10012', ' 10013', ' 10014'],
  ' Inwood and Washington Heights': [' 10031',
   ' 10032',
   ' 10033',
   ' 10034',
   ' 10040'],
  ' Lower East Side': [' 10002', ' 10003', ' 10009'],
  ' Lower Manhattan': [' 10004',
   ' 10005',
   ' 10006',
   ' 10007',
   ' 10038',
   ' 10280'],
  ' Upper East Side': [' 10021',
   ' 10028',
   ' 10044',
   ' 10065',
   ' 10075',
   ' 10128'],
  ' Upper West Side': [' 10023', ' 10024', ' 10025']},
 {' Central Queens': [' 11365', ' 11366', ' 11367'],
  ' Jamaica': [' 11412',
   ' 11423',
   ' 11432',
   ' 11433',
   ' 11434',
   ' 11435',
   ' 11436'],
  ' North Queens': [' 11354',
   ' 11355',
   ' 11356',
   ' 11357',
   ' 11358',
   ' 11359',
   ' 11360'],
  ' Northeast Queens': [' 11361', ' 11362', ' 11363', ' 11364'],
  ' Northwest Queens': [' 11101',
   ' 11102',
   ' 11103',
   ' 11104',
   ' 11105',
   ' 11106'],
  ' Rockaways': [' 11691', ' 11692', ' 11693', ' 11694', ' 11695', ' 11697'],
  ' Southeast Queens': [' 11004',
   ' 11005',
   ' 11411',
   ' 11413',
   ' 11422',
   ' 11426',
   ' 11427',
   ' 11428',
   ' 11429'],
  ' Southwest Queens': [' 11414',
   ' 11415',
   ' 11416',
   ' 11417',
   ' 11418',
   ' 11419',
   ' 11420',
   ' 11421'],
  ' West Central Queens': [' 11374', ' 11375', ' 11379', ' 11385'],
  ' West Queens': [' 11368',
   ' 11369',
   ' 11370',
   ' 11372',
   ' 11373',
   ' 11377',
   ' 11378']},
 {' Mid-Island': [' 10314'],
  ' Port Richmond': [' 10302', ' 10303', ' 10310'],
  ' South Shore': [' 10306', ' 10307', ' 10308', ' 10309', ' 10312'],
  ' Stapleton and St. George': [' 10301', ' 10304', ' 10305']}]

In [13]:
def create_dict(boroughs, sub_dict):
    
    """ Bringing it all back together. Taking the dicitionary of the 
    neighborhoods adn assigning them to the their corresponding borough
    and returning a dictionary. 
    """
    
    d = {}
    
    for boro in boroughs:
        d[boro] = {}
        
    i = 0
    while i < len(boroughs):
        d[boroughs[i]] = sub_dict[i]
        i = i + 1
        
    return d

# now assign to main keys
nyc_dict = create_dict(boroughs, nyc_dict)
nyc_dict

{'Bronx': {' Bronx Park and Fordham': [' 10458', ' 10467', ' 10468'],
  ' Central Bronx': [' 10453', ' 10457', ' 10460'],
  ' High Bridge and Morrisania': [' 10451', ' 10452', ' 10456'],
  ' Hunts Point and Mott Haven': [' 10454', ' 10455', ' 10459', ' 10474'],
  ' Kingsbridge and Riverdale': [' 10463', ' 10471'],
  ' Northeast Bronx': [' 10466', ' 10469', ' 10470', ' 10475'],
  ' Southeast Bronx': [' 10461',
   ' 10462',
   '10464',
   ' 10465',
   ' 10472',
   ' 10473']},
 'Brooklyn': {' Borough Park': [' 11204', ' 11218', ' 11219', ' 11230'],
  ' Bushwick and Williamsburg': [' 11206', ' 11221', ' 11237'],
  ' Canarsie and Flatlands': [' 11234', ' 11236', ' 11239'],
  ' Central Brooklyn': [' 11212', ' 11213', ' 11216', ' 11233', ' 11238'],
  ' East New York and New Lots': [' 11207', ' 11208'],
  ' Flatbush': [' 11203', ' 11210', ' 11225', ' 11226'],
  ' Greenpoint': [' 11211', ' 11222'],
  ' Northwest Brooklyn': [' 11201', ' 11205', ' 11215', ' 11217', ' 11231'],
  ' Southern Brooklyn': [' 11223', ' 11224', ' 11229', ' 11235'],
  ' Southwest Brooklyn': [' 11209', ' 11214', ' 11228'],
  ' Sunset Park': [' 11220', ' 11232']},
 'Manhattan': {' Central Harlem': [' 10026',
   ' 10027',
   ' 10030',
   ' 10037',
   ' 10039'],
  ' Chelsea and Clinton': [' 10001',
   ' 10011',
   ' 10018',
   ' 10019',
   ' 10020',
   ' 10036'],
  ' East Harlem': [' 10029', ' 10035'],
  ' Gramercy Park and Murray Hill': [' 10010', ' 10016', ' 10017', ' 10022'],
  ' Greenwich Village and Soho': [' 10012', ' 10013', ' 10014'],
  ' Inwood and Washington Heights': [' 10031',
   ' 10032',
   ' 10033',
   ' 10034',
   ' 10040'],
  ' Lower East Side': [' 10002', ' 10003', ' 10009'],
  ' Lower Manhattan': [' 10004',
   ' 10005',
   ' 10006',
   ' 10007',
   ' 10038',
   ' 10280'],
  ' Upper East Side': [' 10021',
   ' 10028',
   ' 10044',
   ' 10065',
   ' 10075',
   ' 10128'],
  ' Upper West Side': [' 10023', ' 10024', ' 10025']},
 'Queens': {' Central Queens': [' 11365', ' 11366', ' 11367'],
  ' Jamaica': [' 11412',
   ' 11423',
   ' 11432',
   ' 11433',
   ' 11434',
   ' 11435',
   ' 11436'],
  ' North Queens': [' 11354',
   ' 11355',
   ' 11356',
   ' 11357',
   ' 11358',
   ' 11359',
   ' 11360'],
  ' Northeast Queens': [' 11361', ' 11362', ' 11363', ' 11364'],
  ' Northwest Queens': [' 11101',
   ' 11102',
   ' 11103',
   ' 11104',
   ' 11105',
   ' 11106'],
  ' Rockaways': [' 11691', ' 11692', ' 11693', ' 11694', ' 11695', ' 11697'],
  ' Southeast Queens': [' 11004',
   ' 11005',
   ' 11411',
   ' 11413',
   ' 11422',
   ' 11426',
   ' 11427',
   ' 11428',
   ' 11429'],
  ' Southwest Queens': [' 11414',
   ' 11415',
   ' 11416',
   ' 11417',
   ' 11418',
   ' 11419',
   ' 11420',
   ' 11421'],
  ' West Central Queens': [' 11374', ' 11375', ' 11379', ' 11385'],
  ' West Queens': [' 11368',
   ' 11369',
   ' 11370',
   ' 11372',
   ' 11373',
   ' 11377',
   ' 11378']},
 'Staten Island': {' Mid-Island': [' 10314'],
  ' Port Richmond': [' 10302', ' 10303', ' 10310'],
  ' South Shore': [' 10306', ' 10307', ' 10308', ' 10309', ' 10312'],
  ' Stapleton and St. George': [' 10301', ' 10304', ' 10305']}}

In [14]:
d = nyc_dict
d.keys()

dict_keys(['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island'])

In [15]:
# make dataframe

# gather names
names = []
for header in table.find_all("th"):
    names.append(header.string)

# rename for later merge
names[names.index("ZIP Codes")] = "postalCode"

# compose dataframe
nycdf = pd.DataFrame.from_records([
    [boro, nhood, zipcode] for boro in d for nhood in d[boro] for zipcode in d[boro][nhood] 
])
nycdf.columns = names
# assert types
for col in nycdf.columns:
    if col != "postalCode":
        nycdf[col] = nycdf[col].astype("str", copy=False)
    else:
        nycdf["postalCode"] = nycdf["postalCode"].astype("int64", copy=False)
    
print(nycdf.shape)
nycdf.head(10)

(178, 3)

  Borough                 Neighborhood  postalCode
0   Bronx                Central Bronx       10453
1   Bronx                Central Bronx       10457
2   Bronx                Central Bronx       10460
3   Bronx       Bronx Park and Fordham       10458
4   Bronx       Bronx Park and Fordham       10467
5   Bronx       Bronx Park and Fordham       10468
6   Bronx   High Bridge and Morrisania       10451
7   Bronx   High Bridge and Morrisania       10452
8   Bronx   High Bridge and Morrisania       10456
9   Bronx   Hunts Point and Mott Haven       10454

#### Now merge to the original
<a id = "merging_1"></a>

In [16]:
df['postalCode'].nunique()

198

In [17]:
nycdf['postalCode'].nunique()

178

In [18]:
# Let's observe the differences 
# find any dissimilar zip codes between the two datasets
list(set(df["postalCode"]).difference(set(nycdf["postalCode"])))

[10112,
 100354,
 10118,
 10120,
 10121,
 10000,
 10271,
 11040,
 11430,
 10151,
 10282,
 10162,
 10174,
 10048,
 11202,
 83,
 10069,
 1123,
 11109,
 11242,
 11249,
 11001,
 10111]

In [19]:
df = df.merge(nycdf, on="postalCode")
df.head(10)

,Created Date,Location Type,postalCode,Location,Borough,Neighborhood
0,08/20/2013 12:00:00 AM,3+ Family Apt. Building,10001,"(40.74925646171696, -73.99621042550633)",Manhattan,Chelsea and Clinton
1,08/20/2013 12:00:00 AM,3+ Family Apt. Building,10001,"(40.74923999191611, -73.99617072614878)",Manhattan,Chelsea and Clinton
2,09/22/2015 12:00:00 AM,Other (Explain Below),10001,"(40.74667917800288, -73.99749536861394)",Manhattan,Chelsea and Clinton
3,08/30/2017 12:00:00 AM,3+ Family Apt. Building,10001,"(40.74725219679941, -73.98766079482432)",Manhattan,Chelsea and Clinton
4,05/31/2012 12:00:00 AM,Vacant Lot,10001,"(40.746039288497286, -73.99051930336279)",Manhattan,Chelsea and Clinton
5,08/20/2013 12:00:00 AM,3+ Family Apt. Building,10001,"(40.74925646171696, -73.99621042550633)",Manhattan,Chelsea and Clinton
6,11/25/2016 12:00:00 AM,Commercial Building,10001,"(40.747707573645926, -73.98550250773194)",Manhattan,Chelsea and Clinton
7,05/29/2018 12:00:00 AM,Other (Explain Below),10001,"(40.750315305210364, -73.98737871173111)",Manhattan,Chelsea and Clinton
8,06/04/2012 12:00:00 AM,Vacant Lot,10001,"(40.74622596542436, -73.99094152446328)",Manhattan,Chelsea and Clinton
9,08/28/2013 12:00:00 AM,3+ Family Apt. Building,10001,"(40.74923999191611, -73.99617072614878)",Manhattan,Chelsea and Clinton

<a id = "geo_data"></a>
###### Read in GeoJSON data

   * so i'd like to use this data to create a choropleth map
    
   * i'm going to use a geojson provided in the url below to pull in the zip code boundaries (shape) for that map.
    
   * this is going to be merged into the dataset and won't serve any immediate purpose but will be utilized later when creating the choropleth map.
    
   * basically i'm trying to knock out all (most) the wrangling of this dataset so we can get into some of the interesting visuals that can be put together.
    
   * This data incorporates the boundary coordinates for each of the zip codes so that a choropleth map can eventually be generated.

In [20]:
geo_url = "http://data.beta.nyc//dataset/3bf5fb73-edb5-4b05-bb29-7c95f4a727fc/resource/6df127b1-6d04-4bb7-b983-07402a2c3f90/download/f4129d9aa6dd4281bc98d0f701629b76nyczipcodetabulationareas.geojson"
download_data(geo_url)

# read in nyc zip code geojson 
zipdata = r"./data/f4129d9aa6dd4281bc98d0f701629b76nyczipcodetabulationareas.geojson"
zips = gpd.read_file(zipdata).sort_values("postalCode")
print(zips.info())
zips.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 262 entries, 82 to 189
Data columns (total 12 columns):
OBJECTID      262 non-null int64
postalCode    262 non-null object
PO_NAME       262 non-null object
STATE         262 non-null object
borough       262 non-null object
ST_FIPS       262 non-null object
CTY_FIPS      262 non-null object
BLDGpostal    262 non-null int64
@id           262 non-null object
longitude     262 non-null float64
latitude      262 non-null float64
geometry      262 non-null object
dtypes: float64(2), int64(2), object(8)
memory usage: 26.6+ KB
None

,OBJECTID,postalCode,PO_NAME,STATE,borough,ST_FIPS,CTY_FIPS,BLDGpostal,@id,longitude,latitude,geometry
82,83,00083,Central Park,NY,Manhattan,36,061,0,http://nyc.pediacities.com/Resource/PostalCode...,-73.965573,40.782447,POLYGON ((-73.94922045816277 40.79690988348278...
113,114,10001,New York,NY,Manhattan,36,061,0,http://nyc.pediacities.com/Resource/PostalCode...,-73.996937,40.750215,POLYGON ((-74.00827017711134 40.75258714368449...
123,124,10002,New York,NY,Manhattan,36,061,0,http://nyc.pediacities.com/Resource/PostalCode...,-73.985688,40.716161,POLYGON ((-73.97441674489379 40.73642441865476...
121,122,10003,New York,NY,Manhattan,36,061,0,http://nyc.pediacities.com/Resource/PostalCode...,-73.988841,40.731929,POLYGON ((-73.97986374196766 40.73497446573838...
146,147,10004,New York,NY,Manhattan,36,061,0,http://nyc.pediacities.com/Resource/PostalCode...,-74.045269,40.689870,POLYGON ((-74.04699098912498 40.69012472491997...

###### What do the coords look like?
<a id = "poly_coords"></a>

In [21]:
# here goes the exterior/outline of the poly's provided
zips["geometry"][1].exterior

In [22]:
# this si what we are trying to parse out of the poly's
zips["geometry"][1].exterior.coords.xy

(array('d', [-73.71132911125308, -73.7106837407401, -73.70869392379949, -73.70713084684176, -73.70419967936363, -73.70218528698231, -73.70308721830736, -73.70098278625547, -73.71371033246908, -73.714741836008, -73.71567895968894, -73.71867075939582, -73.71966142935703, -73.72082889049311, -73.72117809110456, -73.72250622247415, -73.72270447144122, -73.72183610276068, -73.72109289651769, -73.71775341502477, -73.71730957335735, -73.71534601002345, -73.71553103019596, -73.71541781535772, -73.71509806179287, -73.71132911125308]),
 array('d', [40.74947450816085, 40.75004039450918, 40.74875836557177, 40.749582740537946, 40.750169552569766, 40.744741887753854, 40.744547257355144, 40.73889569923034, 40.736174704865455, 40.73782936804115, 40.73962914915626, 40.74631499057428, 40.748945236431474, 40.751173028173014, 40.75232189224561, 40.753358470814895, 40.75373371438336, 40.75486513130315, 40.7562813418113, 40.75534755942338, 40.75595782995615, 40.75550893330126, 40.75506458072391, 40.7549984440815, 40.75181177075926, 40.74947450816085]))

###### Now we have to get the x and y's of these coordinates to individual columns
<a id = "coord_parsing"></a>

In [23]:
def getPolyCoords(row, coord_type, geom="geometry"):
    """ Returns the coordinates ('x' or 'y') of edges of a 
    Polygon exterior.
    """
    
    #parse the exterior of the coordinates 
    exterior = row[geom].exterior
    
    # assign appropriate values
    if coord_type == "x":
        #get the x coords
        return list(exterior.coords.xy[0])
    if coord_type == "y":
        return list(exterior.coords.xy[1])
    
# assign to new cols
zips["poly_x"] = zips.apply(getPolyCoords,
                            coord_type="x",
                            axis=1
                           )
zips["poly_y"] = zips.apply(getPolyCoords,
                            coord_type="y",
                            axis=1
                           )
print(zips.shape)
zips.head()

(262, 14)

,OBJECTID,postalCode,PO_NAME,STATE,borough,ST_FIPS,CTY_FIPS,BLDGpostal,@id,longitude,latitude,geometry,poly_x,poly_y
82,83,00083,Central Park,NY,Manhattan,36,061,0,http://nyc.pediacities.com/Resource/PostalCode...,-73.965573,40.782447,POLYGON ((-73.94922045816277 40.79690988348278...,"[-73.94922045816277, -73.95577163845807, -73.9...","[40.796909883482776, 40.787905470847036, 40.78..."
113,114,10001,New York,NY,Manhattan,36,061,0,http://nyc.pediacities.com/Resource/PostalCode...,-73.996937,40.750215,POLYGON ((-74.00827017711134 40.75258714368449...,"[-74.00827017711134, -74.00762507843844, -74.0...","[40.752587143684494, 40.75427918134466, 40.756..."
123,124,10002,New York,NY,Manhattan,36,061,0,http://nyc.pediacities.com/Resource/PostalCode...,-73.985688,40.716161,POLYGON ((-73.97441674489379 40.73642441865476...,"[-73.97441674489379, -73.97449300390227, -73.9...","[40.736424418654764, 40.7361171300957, 40.7356..."
121,122,10003,New York,NY,Manhattan,36,061,0,http://nyc.pediacities.com/Resource/PostalCode...,-73.988841,40.731929,POLYGON ((-73.97986374196766 40.73497446573838...,"[-73.97986374196766, -73.98863956796875, -73.9...","[40.73497446573838, 40.72293224901508, 40.7241..."
146,147,10004,New York,NY,Manhattan,36,061,0,http://nyc.pediacities.com/Resource/PostalCode...,-74.045269,40.689870,POLYGON ((-74.04699098912498 40.69012472491997...,"[-74.04699098912498, -74.04723156029421, -74.0...","[40.69012472491997, 40.69040645829071, 40.6910..."

---
Add in Mercator Coordinates for Bokeh Tile

<a id = "merging_2"></a>
###### Now let's merge in the geo data into the original dataframe

In [0]:
def conv_poly_ys(row):
    
    import math
    r = 6378137.0
    
    return [math.log(math.tan(math.pi/4+math.radians(x) / 2))*r for x in row]

def conv_poly_xs(row):
    
    import math
    r = 6378137.0
    
    return [math.radians(x)*r for x in row]

zips["xs"] = zips.poly_x.map(conv_poly_xs)
zips["ys"] = zips.poly_y.map(conv_poly_ys)

In [25]:
set(df["postalCode"].astype('str', copy=False)).difference(set(zips["postalCode"]))

set()

In [26]:
#convert for this merge
df['postalCode'] = df["postalCode"].astype('str', copy=False)
# merge data
df = df.merge(
    zips[["postalCode", "poly_x", "poly_y", "xs", "ys"]],
    on="postalCode"
)
print(df.shape)
df.head()

(117505, 10)

,Created Date,Location Type,postalCode,Location,Borough,Neighborhood,poly_x,poly_y,xs,ys
0,08/20/2013 12:00:00 AM,3+ Family Apt. Building,10001,"(40.74925646171696, -73.99621042550633)",Manhattan,Chelsea and Clinton,"[-74.00827017711134, -74.00762507843844, -74.0...","[40.752587143684494, 40.75427918134466, 40.756...","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422...."
1,08/20/2013 12:00:00 AM,3+ Family Apt. Building,10001,"(40.74923999191611, -73.99617072614878)",Manhattan,Chelsea and Clinton,"[-74.00827017711134, -74.00762507843844, -74.0...","[40.752587143684494, 40.75427918134466, 40.756...","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422...."
2,09/22/2015 12:00:00 AM,Other (Explain Below),10001,"(40.74667917800288, -73.99749536861394)",Manhattan,Chelsea and Clinton,"[-74.00827017711134, -74.00762507843844, -74.0...","[40.752587143684494, 40.75427918134466, 40.756...","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422...."
3,08/30/2017 12:00:00 AM,3+ Family Apt. Building,10001,"(40.74725219679941, -73.98766079482432)",Manhattan,Chelsea and Clinton,"[-74.00827017711134, -74.00762507843844, -74.0...","[40.752587143684494, 40.75427918134466, 40.756...","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422...."
4,05/31/2012 12:00:00 AM,Vacant Lot,10001,"(40.746039288497286, -73.99051930336279)",Manhattan,Chelsea and Clinton,"[-74.00827017711134, -74.00762507843844, -74.0...","[40.752587143684494, 40.75427918134466, 40.756...","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422...."

If you read in the dataframe (after saving and such).
The `poly_x`, `poly_y` columns tend to get coerced in to str type resulting in Bokeh not being able to read the coordinates. Additionally, Bokeh will not actually return an error (not helpful) but rather a blank screen with nothing rendered. So the below method will take 
care of this. 

###### Read in Data

``` python
pd.read_csv("rats_wrangled.csv)```

###### Default Rat Sightings Column

This column will be used to hold the values of rat sightings that the user wants to visualise and we are going to default it to the zip code level. 

```python
df["rat_sightings"] = df["zip_rat_sightings"]

```

###### Select Only Columns Necessary for Analysis.

```python 
df = df[[
    "Location Type", "postalCode", "Borough",
    "Neighborhood", "poly_x", "poly_y", 
    "zip_rat_sightings", "nhood_rat_sightings",
    "boro_rat_sightings", "rat_sightings"

]].drop_duplicates(subset="postalCode").reset_index(drop=True)
```

###### Define Function to Apply to GeoColumns to Correct Issue

The following function essentially calls eval on each item and returns it as the lists of lists that it was intended to be.

```python 
def convert_col(row):
    """ Convert each value of the column into list 
    from the string object.
    """
    
    return eval(row)
```
###### Run Function on GeoColumns

```python
df["poly_x"] = df["poly_x"].map(convert_col)
df["poly_y"] = df["poly_y"].map(convert_col)
```

---
Now we have the coordinates at the zip code level. Later on it will be desired to possibly also have the coordinates at the Neighborhood and the Borough level. 

Below the coordinates are going to be aggregated for each of the respective categories and added as additional columns

In [27]:
# grohp the data by Borough and concatenate all the corresponding coordinates associated with each
boro_data = df.groupby("Borough")[["xs", "ys"]].sum().reset_index().rename(columns={"xs":"Borough_xs", "ys":"Borough_ys"})

# merge in the coordinate for Boroughs
df = df.merge(boro_data)

nhood_data = df.groupby("Neighborhood")[["xs", "ys"]].sum().reset_index().rename(columns={"xs":"Neighborhood_xs", "ys":"Neighborhood_ys"})

# merge in the coordinates for Neighborhoods
df = df.merge(nhood_data)

df.head()

,Created Date,Location Type,postalCode,Location,Borough,Neighborhood,poly_x,poly_y,xs,ys,Borough_xs,Borough_ys,Neighborhood_xs,Neighborhood_ys
0,08/20/2013 12:00:00 AM,3+ Family Apt. Building,10001,"(40.74925646171696, -73.99621042550633)",Manhattan,Chelsea and Clinton,"[-74.00827017711134, -74.00762507843844, -74.0...","[40.752587143684494, 40.75427918134466, 40.756...","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422...."
1,08/20/2013 12:00:00 AM,3+ Family Apt. Building,10001,"(40.74923999191611, -73.99617072614878)",Manhattan,Chelsea and Clinton,"[-74.00827017711134, -74.00762507843844, -74.0...","[40.752587143684494, 40.75427918134466, 40.756...","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422...."
2,09/22/2015 12:00:00 AM,Other (Explain Below),10001,"(40.74667917800288, -73.99749536861394)",Manhattan,Chelsea and Clinton,"[-74.00827017711134, -74.00762507843844, -74.0...","[40.752587143684494, 40.75427918134466, 40.756...","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422...."
3,08/30/2017 12:00:00 AM,3+ Family Apt. Building,10001,"(40.74725219679941, -73.98766079482432)",Manhattan,Chelsea and Clinton,"[-74.00827017711134, -74.00762507843844, -74.0...","[40.752587143684494, 40.75427918134466, 40.756...","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422...."
4,05/31/2012 12:00:00 AM,Vacant Lot,10001,"(40.746039288497286, -73.99051930336279)",Manhattan,Chelsea and Clinton,"[-74.00827017711134, -74.00762507843844, -74.0...","[40.752587143684494, 40.75427918134466, 40.756...","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422...."

---
Add in Seasons & Parse out Years

In [28]:
# not needed
del df["poly_x"], df["poly_y"]

# define seasons
winter = ["01", "02", "03"]
spring = ["04", "05", "06"]
summer = ["07", "08", "09"]
fall = ["10", "11", "12"]

def season(row):
    
    month = row.split("/")[0]

    if month in winter:
        return "winter"
    elif month in spring:
        return "spring"
    elif month in summer:
        return "summer"
    elif month in fall:
        return 'fall'
    else:
        return "NA"

seasons = df["Created Date"].map(season)
pd.Series(seasons).head()

0    summer
1    summer
2    summer
3    summer
4    spring
Name: Created Date, dtype: object

In [29]:
def year(row):
    
    return row.split("/")[2].split(' ')[0]

years = df["Created Date"].map(year)
pd.Series(years).head()

0    2013
1    2013
2    2015
3    2017
4    2012
Name: Created Date, dtype: object

In [30]:
del df["Created Date"]
df["Year"], df["Season"] = years, seasons
df.head()

,Location Type,postalCode,Location,Borough,Neighborhood,xs,ys,Borough_xs,Borough_ys,Neighborhood_xs,Neighborhood_ys,Year,Season
0,3+ Family Apt. Building,10001,"(40.74925646171696, -73.99621042550633)",Manhattan,Chelsea and Clinton,"[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....",2013,summer
1,3+ Family Apt. Building,10001,"(40.74923999191611, -73.99617072614878)",Manhattan,Chelsea and Clinton,"[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....",2013,summer
2,Other (Explain Below),10001,"(40.74667917800288, -73.99749536861394)",Manhattan,Chelsea and Clinton,"[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....",2015,summer
3,3+ Family Apt. Building,10001,"(40.74725219679941, -73.98766079482432)",Manhattan,Chelsea and Clinton,"[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....",2017,summer
4,Vacant Lot,10001,"(40.746039288497286, -73.99051930336279)",Manhattan,Chelsea and Clinton,"[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....","[-8238562.950607049, -8238491.138551269, -8238...","[4975916.533234529, 4976165.18054585, 4976422....",2012,spring

#### Exploratory Analysis
<a id = "eda"></a>

---

Bokeh Imports

In [31]:
!pip install bokeh

Requirement already satisfied: bokeh in /usr/local/lib/python3.6/dist-packages (0.13.0)
Requirement already satisfied: Jinja2>=2.7 in /usr/local/lib/python3.6/dist-packages (from bokeh) (2.10)
Requirement already satisfied: numpy>=1.7.1 in /usr/local/lib/python3.6/dist-packages (from bokeh) (1.14.5)
Requirement already satisfied: tornado>=4.3 in /usr/local/lib/python3.6/dist-packages (from bokeh) (4.5.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from bokeh) (2.5.3)
Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.6/dist-packages (from bokeh) (1.11.0)
Requirement already satisfied: packaging>=16.8 in /usr/local/lib/python3.6/dist-packages (from bokeh) (17.1)
Requirement already satisfied: PyYAML>=3.10 in /usr/local/lib/python3.6/dist-packages (from bokeh) (3.13)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.7->bokeh) (1.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging>=16.8->bokeh) (2.2.0)

In [32]:
import pandas as pd
import numpy as np

from bokeh.io import curdoc

import yaml

from bokeh.io import (
    output_notebook,
    show
)

from bokeh.plotting import (
    Column,
    figure,
    gridplot,
    Row
)

from bokeh.themes import Theme
from bokeh.layouts import widgetbox
from bokeh.palettes import Blues9, OrRd9
from bokeh.transform import jitter
from bokeh.tile_providers import CARTODBPOSITRON

from bokeh.models import (
    BasicTicker, ColumnDataSource, ColorBar,
    ColorMapper, CustomJS, Div,
    HBar, HoverTool, LinearColorMapper,
    LogColorMapper, MultiSelect, PrintfTickFormatter,
    Select
)

output_notebook()

###### Interactive Bar Chart Analysis

Which Borough is the worst? Which neighborhood? Which zip code? Was any year worst than others? What about seasons?

In [33]:
def modify_bar_doc(doc):
    
    df = pd.read_csv("./data/Rat_Sightings.csv")
    
    def bar_chart(var="Borough", year="All", season="All"):

        """ Takes in a dataframe and a column name in a string format as inputs
        and generates a simple bar chart with hover capability and color mapping
        the most intense categories. 
        """
        
        if year == "All" and season =="All":
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .assign(n=0)
                         .groupby(var)
                         .n
                         .count()
                         .reset_index()
                        )

        elif year != "All" and season == "All":
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .query("Year == '%s'" %year)
                         .assign(n=0)
                         .groupby(var)
                         .n
                         .count()
                         .reset_index()
                        )
            
        elif year != "All" and season != "All":
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .query("Year == '%s'" %year)
                         .query("Season == '%s'" %season)
                         .assign(n=0)
                         .groupby(var)
                         .n
                         .count()
                         .reset_index()
                        )
          
        elif year == "All" and season != "All":
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .query("Season == '%s'" %season)
                         .assign(n=0)
                         .groupby(var)
                         .n
                         .count()
                         .reset_index()
                        )
            
        else:
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .assign(n=0)
                         .groupby(var)
                         .n
                         .count()
                         .reset_index()
                        )
        
        # add in the percentages
        groupeddf["perc"] = (groupeddf["n"]/groupeddf["n"].sum())*100

        # assign names of columns
        groupeddf.columns = [var, var+"_rat_sightings", "perc"]

        # keep names as list
        names = [*groupeddf.columns]

        # keep unique values of col_name
        uniq_vals = [*groupeddf[var].unique()]

        # instantiate color mapper
        mapper = LogColorMapper(palette=Blues9[::-1])

        # instantiate figure
        p = figure(
            y_range=uniq_vals,
            title = "Rat Sightings by %s" %var
        )

        # fill figure
        p.hbar(
            y = var,
            right=names[1],
            height=0.9,
            source=ColumnDataSource(data=groupeddf),
            alpha=0.6,
            hover_alpha=0.9,
            fill_color = {
                "field":names[1],
                "transform":mapper
            }
        )

        # add hover tool
        p.add_tools(HoverTool(
            tooltips =[
                ("%s" %var, "@%s" %var),
                ("%s" %names[1],"@%s"%(names[1])),
                ("Percentage of Sightings", "@perc %")
            ],
            point_policy="follow_mouse"
        ))

        return p

    # create a select for users
    var_select = Select(value="Borough",
                        options = ["Borough", "postalCode",
                                   "Neighborhood", "Location Type",
                                   "Year", "Season"
                                  ],
                        title = "Select the Variable to View: "
                       )
    year_select = Select(value="All",
                         options=[*df["Year"].unique()]+["All"],
                         title="Select a year to view: "
                        )
    season_select = Select(value="All", 
                           options=[*df["Season"].unique()]+["All"],
                           title="Select a season to view: "
                          )

    # create interactivity component
    def update_plot(attr, old, new):

        layout.children[1] = bar_chart(var=var_select.value,
                                       year=year_select.value,
                                       season=season_select.value
                                      )

    # add in interactivity component
    var_select.on_change("value", update_plot)
    year_select.on_change("value", update_plot)
    season_select.on_change("value", update_plot)
    
    # define layout
    layout = Column(Column(var_select, year_select, season_select), bar_chart())

    doc.add_root(layout)

    doc.theme = Theme(json=yaml.load(
            """ attrs:
                    Figure:
                        background_fill_color: "#DDDDDD"
                        outline_line_color: white
                        toolbar_location: above
                        height: 500
                        width: 800
            """
        ))

show(modify_bar_doc)

###### Interactive Scatter Plot Analysis?

How were rat sightings distributed among location types within boroughs, neighborhoods, and zip codes?

In [34]:
def modify_scatter(doc):
    
    df = pd.read_csv("./data/Rat_Sightings.csv")


    def var_loc_scatter(var="Borough", loc_var = "Location Type", year="All", season="All"):

        """ This function takes in the dataframe, variable, and location
        type variable as inputs. The function will group the dataframe by
        the specified variable and location type to find the counts of various
        location types for each unique value of the variable. The function
        will then generate a scatter plot and return the resulting dataframe.
        """
        
        if year == "All" and season =="All":
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .assign(n=0)
                         .groupby([var,loc_var])   
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {
                             loc_var:"loc_type","n":"rat_sightings"
                            })
                        )

        elif year != "All" and season == "All":
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .query("Year == '%s'" %year)
                         .assign(n=0)
                         .groupby([var,loc_var])   
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {
                             loc_var:"loc_type","n":"rat_sightings"
                            })
                        )
            
        elif year != "All" and season != "All":
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .query("Year == '%s'" %year)
                         .query("Season == '%s'" %season)
                         .assign(n=0)
                         .groupby([var,loc_var])   
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {
                             loc_var:"loc_type","n":"rat_sightings"
                            })
                        )
          
        elif year == "All" and season != "All":
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .query("Season == '%s'" %season)
                         .assign(n=0)
                         .groupby([var,loc_var])   
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {
                             loc_var:"loc_type","n":"rat_sightings"
                            })
                        )
            
        else:
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .assign(n=0)
                         .groupby([var,loc_var])   
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {
                             loc_var:"loc_type","n":"rat_sightings"
                            })
                        )

        # get total percentages
        groupeddf["total_perc"] = (groupeddf.rat_sightings/groupeddf.rat_sightings.sum())*100

        # get local percentages
        # use map?

        # create a list of the unique values
        uniq_vals = [*groupeddf[var].unique()]

        # create color mapper
        mapper = LogColorMapper(
            palette=Blues9[::-1]
        )

        # instantiate figure
        p = figure(
            y_range=uniq_vals
        )

        p.circle(
            x = "rat_sightings",
            y = jitter(var, width=0.6, range=p.y_range),
            source=ColumnDataSource(data=groupeddf),
            alpha=0.6,
            size=30,
            hover_alpha=0.9,
            fill_color = {
                "field":"rat_sightings",
                "transform":mapper
            }
        )

        p.add_tools(HoverTool(
            tooltips=[
                ("%s" %var, "@%s" %var),
                ("Location Type", "@loc_type"),
                ("Num. of Rat Sightings", "@rat_sightings"),
                ("Percentage of Rat Sightings within the %ss" %var,
                 "@total_perc %")
            ]
        ))

        return p

    # create a select for users
    var_select = Select(value="Borough",
                        options = ["Borough", "postalCode",
                                   "Neighborhood",
                                   "Year", "Season"
                                  ],
                        title = "Select the Variable to View: "
                       )
    year_select = Select(value="All",
                         options=[*df["Year"].unique()]+["All"],
                         title="Select a year to view: "
                        )
    season_select = Select(value="All", 
                           options=[*df["Season"].unique()]+["All"],
                           title="Select a season to view: "
                          )

    # create interactivity components
    def update_plot(attr, old, new):

        layout.children[1] = var_loc_scatter(var=var_select.value,
                                             year=year_select.value,
                                             season=season_select.value
                                            )

    # add in interactivity component
    var_select.on_change('value', update_plot)
    year_select.on_change("value", update_plot)
    season_select.on_change("value", update_plot)

    layout = Column(Column(var_select, year_select, season_select), var_loc_scatter())

    doc.add_root(layout)
    
    doc.theme = Theme(json=yaml.load(
        """ attrs:
                Figure:
                    background_fill_color: "#DDDDDD"
                    outline_line_color: white
                    toolbar_location: above
                    height: 500
                    width: 800
        """
    ))
    
show(modify_scatter)

A heatmap of the same data above to get a different visual.

In [35]:
def modify_heatmap(doc):
    
    df = pd.read_csv("./data/Rat_Sightings.csv")
    
    def var_loc_heatmap(df=df, var="Borough", loc_var="Location Type", year="All", season="All"):

        """
            Creates a heatmap for each class in var (Borough, Neighborhood, or Zip Code)
            and determines which location types are the of the highest 
            intensity for each. Essentially a recreation of the scatter
            plot but with a heatmap instead of circles. 
        """

        # group by
        if year == "All" and season =="All":
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .assign(n=0)
                         .groupby([var,loc_var])   
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {
                             loc_var:"loc_type","n":"rat_sightings"
                            })
                        )

        elif year != "All" and season == "All":
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .query("Year == '%s'" %year)
                         .assign(n=0)
                         .groupby([var,loc_var])   
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {
                             loc_var:"loc_type","n":"rat_sightings"
                            })
                        )
            
        elif year != "All" and season != "All":
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .query("Year == '%s'" %year)
                         .query("Season == '%s'" %season)
                         .assign(n=0)
                         .groupby([var,loc_var])   
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {
                             loc_var:"loc_type","n":"rat_sightings"
                            })
                        )
          
        elif year == "All" and season != "All":
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .query("Season == '%s'" %season)
                         .assign(n=0)
                         .groupby([var,loc_var])   
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {
                             loc_var:"loc_type","n":"rat_sightings"
                            })
                        )
            
        else:
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .assign(n=0)
                         .groupby([var,loc_var])   
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {
                             loc_var:"loc_type","n":"rat_sightings"
                            })
                        )

        # get total percentages
        groupeddf["total_perc"] = (groupeddf.rat_sightings/groupeddf.rat_sightings.sum())*100


        # get unique value names
        loc_types = [*groupeddf["loc_type"].unique()]
        uniq_vals = [*groupeddf[var].unique()]

        # now add in percentages to give more information to user
        # get the total values

        sum_data = pd.DataFrame(
            groupeddf.groupby(var).rat_sightings.sum()
        )

        col_name = "total_%s_sights" %var
        sum_data.columns = [col_name]


        # merge the totals in to the dataframe
        """ Sure this can be applied to the dataframe in some fashion but opting
        for the conceptually easier solution here. 
        """
        groupeddf = groupeddf.merge(sum_data.reset_index())

        # get percentages for each location type
        perc_name = "perc_sights"
        groupeddf[perc_name] = (
            groupeddf["rat_sightings"]/groupeddf[col_name])*100

        # instantiate color mapper
        mapper = LogColorMapper(palette=Blues9[::-1])

        # instantiate plot
        p = figure(y_range=uniq_vals, x_range=loc_types)

        # specify plot parameters
        p.grid.grid_line_color = None
        p.axis.axis_line_color = None
        p.axis.major_tick_line_color = None
        p.axis.major_label_text_font_size="7pt"
        p.axis.major_label_standoff = 0
        p.xaxis.major_label_orientation = pi/3

        # fill plot with data
        p.rect(
            x="loc_type",
            y=var,
            width=1,
            height=1,
            source=ColumnDataSource(data=groupeddf),
            alpha= 0.6,
            hover_alpha=0.9,
            fill_color = {
                "field":"rat_sightings",
                "transform":mapper
            }
        )

        p.add_tools(HoverTool(
            tooltips = [
                ("%s" %var, "@%s" %var),
                ("Location Type", "@loc_type"),
                ("Num. of Rat Sightings","@rat_sightings"),
                ("Perc. of Rat Sightings Across %ss" %var,"@perc_sights %")
            ],
            point_policy="follow_mouse"
        ))

        return p

    var_select = Select(value="Borough",
                            options=["Borough", "Neighborhood",
                                     "postalCode", "Year",
                                     "Season"
                                    ],
                            title="Select the Variable to View: "
                           )
    year_select = Select(value="All",
                         options=[*df["Year"].unique()]+["All"],
                         title="Select a year to view: "
                        )
    season_select = Select(value="All", 
                           options=[*df["Season"].unique()]+["All"],
                           title="Select a season to view: "
                          )

    # create interactivity components
    def update_plot(attr, old, new):

        layout.children[1] = var_loc_heatmap(var=var_select.value,
                                             year=year_select.value,
                                             season=season_select.value
                                            )

    # add in interactivity component
    var_select.on_change('value', update_plot)
    year_select.on_change("value", update_plot)
    season_select.on_change("value", update_plot)

    layout = Column(Column(var_select, year_select, season_select), var_loc_heatmap())

    doc.add_root(layout)

    doc.theme = Theme(json=yaml.load(
        """ attrs:
                Figure:
                    background_fill_color: "#DDDDDD"
                    outline_line_color: white
                    toolbar_location: above
                    height: 500
                    width: 800
        """
    ))
    
show(modify_heatmap)

Look at any two variables you'd like instead of just the location types.

In [36]:
def modify_divariate_scatter(doc):

    df = pd.read_csv("./data/Rat_Sightings.csv")

    def var_var_scatter(df=df, var1="Borough", var2="Neighborhood", year="All", season="All"):

        """
            Allows the user to select whichever variables
            from the dataset for comparison in the form 
            of a scatter plot.
        """

        # we want the var1 to be the least granular variable
        name1, name2 = var1,var2

        # get the number of classes
        n_classes1 = df[var1].nunique()
        n_classes2 = df[var2].nunique()

        # if the num of classes in var2 is less then reassign variables
        if n_classes2 < n_classes1:
            var1 = name2
            var2 = name1

        # group by
        if year == "All" and season =="All":
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .assign(n=0)
                         .groupby([var1, var2])
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {
                             "n":"rat_sightings"
                            })
                        )

        elif year != "All" and season == "All":
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .query("Year == '%s'" %year)
                         .assign(n=0)
                         .groupby([var1, var2])
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {
                             "n":"rat_sightings"
                            })
                        )
            
        elif year != "All" and season != "All":
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .query("Year == '%s'" %year)
                         .query("Season == '%s'" %season)
                         .assign(n=0)
                         .groupby([var1, var2])
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {
                             "n":"rat_sightings"
                            })
                        )
          
        elif year == "All" and season != "All":
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .query("Season == '%s'" %season)
                         .assign(n=0)
                         .groupby([var1, var2])
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {
                             "n":"rat_sightings"
                            })
                        )
            
        else:
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .assign(n=0)
                         .groupby([var1, var2])
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {
                             "n":"rat_sightings"
                            })
                        )

        # get unique values for both vars
        uniq_vals1 = [*groupeddf[var1].unique()]
        uniq_vals2 = [*groupeddf[var2].unique()]

        # now add in percentages to give more information to user
        # get the total values

        sum_data = pd.DataFrame(
            groupeddf.groupby(var1)["rat_sightings"].sum()
        )

        col_name = "total_%s_sights" %var1
        sum_data.columns = [col_name]


        # merge the totals in to the dataframe
        """ Sure this can be applied to the dataframe in some fashion but opting
        for the conceptually easier solution here. 
        """
        groupeddf = groupeddf.merge(sum_data.reset_index())

        # get percentages for each location type
        perc_name = "perc_sights"
        groupeddf[perc_name] = (
            groupeddf["rat_sightings"]/groupeddf[col_name])*100

        # create color mapper
        mapper = LogColorMapper(
            palette=Blues9[::-1]
        )

        # instantiate figure
        p = figure(
            plot_width=800,
            plot_height=600,
            y_range=uniq_vals1
        )

        p.circle(
            x = "rat_sightings",
            y = jitter(var1, width=0.6, range=p.y_range),
            source=ColumnDataSource(data=groupeddf),
            alpha=0.6,
            size=30,
            hover_alpha=0.9,
            fill_color = {
                "field":"rat_sightings",
                "transform":mapper
            }
        )

        p.add_tools(HoverTool(
            tooltips=[
                ("%s" %var1, "@%s" %var1),
                ("%s" %var2, "@%s" %var2),
                ("Num. of Rat Sightings", "@rat_sightings"),
                ("Percentage of Rat Sightings within the %ss" %var1,
                 "@perc_sights %")
            ]
        ))

        return p

    # define variable selects
    var1_select = Select(value="Borough",
                         options=[*df.columns],
                         title="Select a variable: "
                        )
    var2_select = Select(value="Neighborhood",
                         options=[*df.columns],
                         title="Select a variable: "
                        )
    year_select = Select(value="All",
                         options=[*df["Year"].unique()]+["All"],
                         title="Select a year to view: "
                        )
    season_select = Select(value="All", 
                           options=[*df["Season"].unique()]+["All"],
                           title="Select a season to view: "
                          )

    # define interactivity
    def update_plot(attr, old, new):

        layout.children[1] = var_var_scatter(var1=var1_select.value,
                                             var2=var2_select.value,
                                             year=year_select.value,
                                             season=season_select.value
                                            )

    # inc interactivity
    var1_select.on_change("value", update_plot)
    var2_select.on_change("value", update_plot)
    year_select.on_change("value", update_plot)
    season_select.on_change("value", update_plot)

    layout=Column(
        Row(
            Column(var1_select, var2_select),
            Column(year_select, season_select)
        ),
        var_var_scatter()
    )

    doc.add_root(layout)

    doc.theme = Theme(json=yaml.load(
            """ attrs:
                    Figure:
                        background_fill_color: "#DDDDDD"
                        outline_line_color: white
                        toolbar_location: above
                        height: 500
                        width: 800
            """
        ))
    
show(modify_divariate_scatter)

Same deal.

In [37]:
def modify_divar_heatmap(doc):
    
    df = pd.read_csv("./data/Rat_Sightings.csv")
    
    def var_var_heatmap(df=df, var1="Borough", var2="Neighborhood", year="All", season="All"):

        """
        """
        # we want the var1 to be the least granular variable
        name1, name2 = var1,var2

        # get the number of classes
        n_classes1 = df[var1].nunique()
        n_classes2 = df[var2].nunique()

        # if the num of classes in var2 is less then reassign variables
        if n_classes2 < n_classes1:
            var1 = name2
            var2 = name1

        # group by
        if year == "All" and season =="All":
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .assign(n=0)
                         .groupby([var1, var2])
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {
                             "n":"rat_sightings"
                            })
                        )

        elif year != "All" and season == "All":
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .query("Year == '%s'" %year)
                         .assign(n=0)
                         .groupby([var1, var2])
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {
                             "n":"rat_sightings"
                            })
                        )
            
        elif year != "All" and season != "All":
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .query("Year == '%s'" %year)
                         .query("Season == '%s'" %season)
                         .assign(n=0)
                         .groupby([var1, var2])
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {
                             "n":"rat_sightings"
                            })
                        )
          
        elif year == "All" and season != "All":
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .query("Season == '%s'" %season)
                         .assign(n=0)
                         .groupby([var1, var2])
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {
                             "n":"rat_sightings"
                            })
                        )
            
        else:
            
            #group dataframe by indicated column name and rename columns
            groupeddf = (df
                         .assign(n=0)
                         .groupby([var1, var2])
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {
                             "n":"rat_sightings"
                            })
                        )
            
        # get unique value names
        uniq_vals1 = [*groupeddf[var1].unique()]
        uniq_vals2 = [*groupeddf[var2].unique()]

        # now add in percentages to give more information to user
        # get the total values

        # group by variable with less classes
        sum_data = pd.DataFrame(
            groupeddf.groupby(var1).rat_sightings.sum()
        )

        col_name = "total_%s_sights" %var1
        sum_data.columns = [col_name]


        # merge the totals in to the dataframe
        """ Sure this can be applied to the dataframe in some fashion but opting
        for the conceptually easier solution here. 
        """
        groupeddf = groupeddf.merge(sum_data.reset_index())

        # get percentages for each location type
        perc_name = "perc_sights"
        groupeddf[perc_name] = (
            groupeddf["rat_sightings"]/groupeddf[col_name])*100


        # instantiate source
        source = ColumnDataSource(groupeddf)

        # instantiate color mapper
        mapper = LogColorMapper(palette=Blues9[::-1])

        # instantiate plot
        p = figure(
            plot_width=800, plot_height=600,
            y_range=uniq_vals1, x_range=uniq_vals2
        )

        # specify plot parameters
        p.grid.grid_line_color = None
        p.axis.axis_line_color = None
        p.axis.major_tick_line_color = None
        p.axis.major_label_text_font_size="7pt"
        p.axis.major_label_standoff = 0
        p.xaxis.major_label_orientation = pi/3

        # fill plot with data
        p.rect(
            x=var2,
            y=var1,
            width=1,
            height=1,
            source=source,
            alpha= 0.6,
            hover_alpha=0.9,
            fill_color = {
                "field":"rat_sightings",
                "transform":mapper
            }
        )

        p.add_tools(HoverTool(
            tooltips = [
                ("%s" %var1, "@%s" %var1),
                ("%s" %var2, "@%s" %var2),
                ("Num. of Rat Sightings","@rat_sightings"),
                ("Perc. of Rat Sightings Across %ss" %var1,"@perc_sights %")
            ],
            point_policy="follow_mouse"
        ))

        return p

    # define variable selects
    var1_select = Select(value="Borough",
                         options=[*df.columns],
                         title="Select a variable: "
                        )
    var2_select = Select(value="Neighborhood",
                         options=[*df.columns],
                         title="Select a variable: "
                        )
    year_select = Select(value="All",
                         options=[*df["Year"].unique()]+["All"],
                         title="Select a year to view: "
                        )
    season_select = Select(value="All", 
                           options=[*df["Season"].unique()]+["All"],
                           title="Select a season to view: "
                          )

    # define interactivity
    def update_plot(attr, old, new):

        layout.children[1] = var_var_heatmap(var1=var1_select.value,
                                             var2=var2_select.value,
                                             year=year_select.value,
                                             season=season_select.value
                                            )

    # inc interactivity
    var1_select.on_change("value", update_plot)
    var2_select.on_change("value", update_plot)
    year_select.on_change("value", update_plot)
    season_select.on_change("value", update_plot)

    layout=Column(
        Row(
            Column(var1_select, var2_select),
            Column(year_select, season_select)
        ),
        var_var_heatmap()
    )

    doc.add_root(layout)

    doc.theme = Theme(json=yaml.load(
            """ attrs:
                    Figure:
                        background_fill_color: "#DDDDDD"
                        outline_line_color: white
                        toolbar_location: above
                        height: 500
                        width: 800
            """
        ))
    
show(modify_divar_heatmap)

Let's view this data interactively on a map.

In [38]:
def choro_map(doc):
    
    df = pd.read_csv("./data/Rat_Sightings.csv")

    def make_map(var="postalCode", year="All", season="All"):
        
        def filter_years_seasons(df=df, season=season, year=year):
    
            if year == "All" and season =="All":

                #group dataframe by indicated column name and rename columns
                df = (df
                            )

            elif year != "All" and season == "All":

                #group dataframe by indicated column name and rename columns
                df = (df
                      .query("Year == '%s'" %year)
                     )

            elif year != "All" and season != "All":

                # select cases for user-selected year and season
                df = (df
                     .query("Year == '%s'" %year)
                     .query("Season == '%s'" %season)
                    )

            elif year == "All" and season != "All":

                # only extract cases for the user-selected season
                df = (df
                      .query("Season == '%s'" %season)    
                     )

            else:

                # just set it to itself if user-error occurs
                df = df   


            return df
        
        new_df = filter_years_seasons()

        if var=="postalCode":

            groupeddf = (new_df
                         .assign(n=0)
                         .groupby(var)
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {"n":"Rat_Sightings"})
                         .merge(df[["postalCode", "Neighborhood",
                                    "Borough", "xs", "ys"
                                   ]])
                         .drop_duplicates(subset=[var])
                         .reset_index(drop=True)
                        )

        elif var == "Neighborhood":

            groupeddf = (new_df
                         .assign(n=0)
                         .groupby(var)
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {"n":"Rat_Sightings"})
                         .merge(df[["Neighborhood", "Borough",
                                    "Neighborhood_xs", "Neighborhood_ys"
                                   ]])
                         .drop_duplicates(subset=[var])
                         .reset_index(drop=True)
                         .rename(columns={"Neighborhood_xs":"xs", "Neighborhood_ys":"ys"})
                        )

        elif var == "Borough":
            groupeddf = (new_df
                         .assign(n=0)
                         .groupby(var)
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {"n":"Rat_Sightings"})
                         .merge(df[["Borough", 
                                    "Borough_xs", "Borough_ys"
                                   ]])
                         .drop_duplicates(subset=[var])
                         .reset_index(drop=True)
                         .rename(columns={"Borough_xs":"xs", "Borough_ys":"ys"})
                        )
        else:

            groupeddf = (new_df
                         .assign(n=0)
                         .groupby(var)
                         .n
                         .count()
                         .reset_index()
                         .rename(columns = {"n":"Rat_Sightings"})
                         .merge(df[["postalCode", "Neighborhood",
                                    "Borough", "xs", "ys"
                                   ]])
                         .drop_duplicates(subset=[var])
                         .reset_index(drop=True)
                        )



        # instantiate the color mapper
        color_mapper = LogColorMapper(
            palette=OrRd9[::-1]
        )

        p = figure(
            x_range=(-8400000,-8100000),
            y_range=(4950000, 5000000),
            x_axis_type = "mercator",
            y_axis_type="mercator",
            plot_height=1200,
            plot_width=1000
        )
        p.axis.visible = False
        p.grid.grid_line_color = None
        p.add_tile(CARTODBPOSITRON)

        p.grid.grid_line_color = None

        p.patches(
            "xs",
            "ys",
            source=ColumnDataSource(data=groupeddf),
            fill_color = {
                "field":"Rat_Sightings",
                "transform":color_mapper
            },
            fill_alpha=0.6
        )
        
        p.add_tools(HoverTool(tooltips=[
            ("Number of Rat Sightings: ", "@Rat_Sightings"),
            ("%s" %var, "@%s" %var)
        ]))

        return p

    year_select = Select(value="All",
                         options=[*df["Year"].unique()]+["All"],
                         title="Select a year to view: "
                        )
    season_select = Select(value="All", 
                           options=[*df["Season"].unique()]+["All"],
                           title="Select a season to view: "
                          )


    def update_plot(attr, old, new):

        layout.children[1] = make_map(
                                      year=year_select.value,
                                      season=season_select.value
                                     )

    year_select.on_change("value", update_plot)
    season_select.on_change("value", update_plot)

    layout = Column(Column(year_select, season_select), make_map())

    doc.add_root(layout)

    doc.theme = Theme(json=yaml.load(
            """ attrs:
                    Figure:
                        background_fill_color: "#DDDDDD"
                        outline_line_color: white
                        toolbar_location: above
                        height: 500
                        width: 800
            """
        ))
    

show(choro_map)